<div class="container">
  <div class="schedule" >
    <div class="schedule-show">
    <% if @schedules_for_start_at.present? %>
      <div class="day">
        <h2><%= @schedules_for_start_at.first.start_at.strftime('%Y-%m-%d') %></h2>
      </div>
      <% @schedules_for_start_at.each do |schedule| %>
        <div class="schedule-box">
          <div class="schedule-box-parts">
            <div class="time">
              <%= schedule.start_at.strftime('%H:%M') %>
              <br>~<br>
              <%= schedule.end_at.strftime('%H:%M') %>
            </div>
            <div class="Noting-time">
              <div class="destination">
                <%= schedule.destination %>
              </div>
              <div class="reviews">
                <% if schedule.reviews.any? %>
                  <% schedule.reviews.each do |review| %>
                  <div class="arrow_box">
                    <div class="review">
                      <%= review.rating %></p>
                      <p><%= review.body %></p>
                    </div>
                  </div>
                  <% end %>
                <% else %>
                  <p class=review-before >レビューがまだありません。</p>
                <% end %>
              </div>
            </div>
            <div class="actions">
              <%= link_to edit_schedule_path(schedule), id: "button-edit-#{schedule.id}" do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
              
              <%= link_to date_show_path(schedule), method: :delete, data: { confirm: '本当に削除しますか？' }, id: "button-delete-#{schedule.id}" do %>
                <i class="bi bi-trash-fill"></i>
              <% end %>
              <%= render 'dates/review'%>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
    <p>この日に予定はありません。</p>
  <% end %>


  <%# ---schedule--- %>

  <!-- フッター部分 -->
  <div class="schedule-footer">
    <div class="schedule-comment">
      <%# comment %>
    </div>
    <div class="create-btn">
      <%= link_to "スケジュール作成", new_schedule_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>