<div class="flex my-16 items-center justify-center">
  <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
    <div class="p-4 border-2 rounded-lg border-slate-300">
      <h2><%= t('devise.passwords.new.forgot_your_password') %></h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="actions mb-4">
          <%= f.submit "送信" %>
        </div>
      <% end %>

      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to t('devise.shared.links.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name) %><br />
      <% end %>
    </div>
  </div>
</div>