<div class="field">
  <div class="mb-3 pl-3 d-flex　flex-wrap flex-lg-nowrap">
    <div class="mb-3">
      <%= f.text_field :title , placeholder:"目的地"%>
    </div>
    <div class="form-group">
    <%= f.label :start_date, '開始' %>
    <%= f.datetime_select :start_date, {default: Date.today + 17.hours + 30.minutes}, class: 'form-control form-control-inline'%>
    </div>
    <div class="sp-br"></div>
    <div class="dw">
    >>
    </div>
    <div class="mb-3">
    <%= f.label :end_date, '終了' %>
    <%= f.datetime_select :end_date, {default: Date.today + 18.hours + 30.minutes},class: 'form-control form-control-inline' %>
    </div>
  </div>
</div>

