<div class="planner">
  <%= form_with model: @planner, local: true do |f| %>
    <% if @planner.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@planner.errors.count, "エラー") %>が発生しました:</h2>
        <ul>
          <% @planner.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render 'planners/field', f: f %>
    <div class="actions">
        <%= f.submit t('planner.new.create', default: '作成する'), class: "buttonCreate itemCreate", name: "commit_create" %>
    </div>
  <% end %>
</div>
