<div class="planner">
  <%= form_with model: @planner, local: true do |f| %>
    
    <div class="mb-3">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, placeholder: "タイトル" %>
    </div>
    <div class="mb-3 pl-3 d-flex">
      <div class="mb-3 d-flex flex-wrap flex-lg-nowrap">
      <%= f.label :date, '旅行期間' %>
      </div>
      <div>
        <div class="mb-3">
          <%= f.date_field :start_date %>
        </div>
        <div class="sp-br"></div>
        <div class="dw">~</div>
        <div class="mb-3">
          <%= f.date_field :end_date %>
        </div>
      </div>
    </div>
    <div class="actions">
        <%= f.submit t('planner.new.create', default: '作成する'), class: "btn btn-primary", name: "commit_create" %>
    </div>
  <% end %>
</div>
