<div class="plan">
  
  <div class="wrapper">
    <%= render 'shared/planTabs' %>
    <div class="sectionMain">
      <%# 編集ボタン %>
      <%= button_tag(type: 'button', class: 'buttonCreate itemCreate') do %>
        <p class="title">しおり情報編集</p>
      <% end %>

      <div class="planner">
        <%= image_tag '/assets/default.jpg', class: "card-img-top" %>
        <ul class="informations">
          <li class="information">
            <p class="title">しおりタイトル</p>
            <p class="content"><%= @planner.title.presence || '未登録' %></p>
          </li>
          <li class="information">
            <p class="title">旅行期間</p>
            <p class="content">
              <span class="start"><%= l(@planner.start_date, format: :default) %></span> ~ 
              <span class="end"><%= l(@planner.end_date, format: :default) %></span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
