
<div class="wrapper">
  <div class="sidelist-pc">
  <%= render 'shared/planTabs' %>
  </div>
    <div class="sidelist-sp">
  <%= render 'shared/planTabs' %>
  </div>
  <div class="sectionMain">
    <%# 編集ボタン %>
    
    <div class="plan">
      <div class="box card-img-top", style:height 120px;>
      <%# MVP後S3か何か追加%>
      </div>
      <ul class="informations">
        <li class="information">
          <p class="title">しおりタイトル</p>
          <p class="content"><%= @planner.title.presence || '未登録' %></p>
        </li>
        <li class="information">
          <p class="title">旅行期間</p>
          <p class="content">
            <span class="start"><%= l(@planner.start_date, format: :default) %></span> ~ 
            <span class="end"><%= l(@planner.end_date, format: :default) %></span>
          </p>
        </li>
      </ul>
      <div class="d-flex-edit-sp" >
        <% if @planner.user == current_user %>
          <%= link_to "スケジュール作成", new_planner_schedule_path(planner_id: @planner.id), class: "buttonedit m-3"  %>
          <%= link_to edit_planner_path(@planner), class: 'buttonedit m-3	' do %>
            <p class="buttontitle">しおり情報編集</p>
          <% end %>
          <%= link_to planner_path(@planner), data: { turbo_method: "delete", turbo_confirm: "削除しますか？" }, class: "buttonedit m-3" do%>
            <p class="buttontitle">しおりを削除</p>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
