
    <div class="field" >
      <div class="mb-3">
        <%= f.text_field :title , placeholder:"目的地※" %>
      </div>
      <div class="mb-3 pl-3 d-flex　flex-wrap flex-lg-nowrap">
        <div class="mb-3">
        <%= f.label :start_date, '開始' %><span class="astarisk" style="color: #ff0000; ">*</span>
        <%= f.datetime_local_field :start_date, required: true %>
        </div>
        <div class="sp-br"></div>
        <div class="dw">
        >>
        </div>
        <div class="mb-3">
        <%= f.label :end_date, '終了' %><span class="astarisk" style="color: #ff0000; ">*</span>
        <%= f.datetime_local_field :end_date, required: true %>
        </div>
      </div>
      <div class="mb-3">  
        <%= f.label :経費 %>
        <%= f.text_field :cost %>
      </div>
      <div class="mb-3">
        <%= f.label :transportation, "移動方法", placeholder:"移動方法"%>
        <%= f.select :transportation, options_for_select([['車'], ['普通電車'], ['新幹線'], ['バス'], ['タクシー'],['徒歩'],['船'],['自転車'],['その他（説明欄にお願いします）', 'etc']]),multiple: true, class:"select"%>
      </div>
      
      <div class="mb-3">
        <%= f.label :場所 %>
        <%= f.text_field :place %>
      </div>
      <div class="mb-3">
        <%= f.label :地点説明 %>
        <%= f.text_field :guaid %>
      </div>
    </div>