
    <div class="field" >
      <div class="mb-3">
      <%= f.text_field :destination , placeholder:"目的地"%>
      </div>
      <div class="mb-3">
      <%= f.label "開始日時" %><%= f.datetime_local_field :start_at%>
      </div>
      〜
      <div>
      <%= f.label :終了日時 %>
      <%= f.datetime_local_field :end_at%>
      </div>
      <div class="mb-3">
      <%= f.label :経費 %>
      <%= f.text_field :cost %>
      </div>
      </div>
      <div class="mb-3">
        <%= f.label :transportation, '交通手段' %>
        <%= f.select :transportation, [['車', 1], ['電車', 2], ['飛行機',3], ['その他', 4]], { include_blank: '選択してください'}, { class: "form-control" , required: true } %>
      </div>
      <div class="mb-3">
      <%= f.label :評価 %>
      <%= f.text_field :review %>
      </div>
    </div>