<%= render 'shared/planTabs' %>
<div class="sectionMain">
  <div class="button-group">
  <% if @planner.user == current_user %>
    <%= link_to "作成", new_planner_schedule_path(planner_id: @planner.id), class:'buttonCreate itemCreate' %>
  <% end %>
  </div>
  <div class="contents">
    <summary class="onedayHeader">
      <div class="title">
        <p class="date"><%= l(@planner.start_date, format: :short) %></p>
      </div>
    </summary>
    
    <% @schedules.each do |schedule| %>
      <%= link_to planner_schedule_path(planner_id: @planner.id, id: schedule.id) do %>
        <li class="schedule-content mb-3 ">
          <div class="d-flex">
          <p><%= l schedule.start_date, format: :day if schedule.start_date.present? %>日</p>
          <p class="content mx-4	">
            <span class="start">
            <%= l schedule.start_date, format: :only_time if schedule.start_date.present? %>〜
            </span>
            <span class="end">
            <%= l schedule.end_date, format: :only_time if schedule.end_date.present? %>
            </span>
          </p>
          <p class="content mx-lg-5 mb-0 pt-3"><%= schedule.title.presence  %></p>
          </div>
          
        </li>
      <% end %>
    <% end %>
  </div>
</div>


