<% content_for(:title, t('.title')) %>
  <div class="container mb-5 pt-2">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">
                <%= Schedule.human_attribute_name(:start_at) %>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @schedules %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- ページネーション -->
        <%= paginate @schedules, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
  


  <% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <%= render 'search_form', q: @q, url: schedules_path %>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @schedules.present? %>
          <%= render @schedules %>
          <%= paginate @schedules, theme: 'bootstrap-5'%>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>