<h1>New Schedule</h1>

<%= form_with model: @schedule, local: true do |form| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
      <ul>
        <% @schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="mb-3">
    <%= form.text_field :destination , placeholder:"目的地"%>
    </div>
    <div class="mb-3">
    <%= form.text_field :start_at, placeholder:"時刻" %>
〜
    <%= form.text_field :end_at, placeholder:"時刻"%>
    </div>
    <div class="mb-3">
    <%= form.label :経費 %>
    <%= form.text_field :cost %>
    </div>
    <div class="mb-3">
    <%= form.label :評価 %>
    <%= form.text_field :review %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Create Schedule" %>
  </div>
<% end %>
