<div class="wrapper">
  <%= render 'shared/planTabs' %>
  <div class="sectionMain">
    <%# 編集ボタン %>
    

    <div class="plan">
      <div class="lists">
        <div class="contents">
          <summary class="onedayHeader">
            <div class="title" style="text-align: center;">
              <p class="date mb-0" ><%= l(@planner.start_date, format: :default) %></p>
            </div>
          </summary>
          <ul class="informations">
            <li class="information">
              <p class="content">
                <p class="title">時間</p>
                <span class="start">
                <%= l @schedule.start_date, format: :only_time%>〜
                </span>
                <span class="end">
                <%= l @schedule.end_date, format: :only_time%>
                </span>
              </p>
            </li>
            <li class="information">
              <p class="title">しおりタイトル</p>
              <p class="content"><%= @schedule.title.presence || '未登録' %></p>
            </li>
            <li class="information">
              <p class="title">場所</p>
              <p class="content"><%= @schedule.place.presence || '未登録'  %></p>
            </li>
            <li class="information">
              <p class="title">費用</p>
              <p class="content"><%= @schedule.cost.presence || '未登録' %></p>
            </li>
            <li class="information">
              <p class="title">移動手段</p>
              <p class="content"><%= @schedule.transportation.presence || '未登録' %></p>
            </li>
            <li class="information">
              <p class="title">説明</p>
              <p class="content"><%= @schedule.guaid.presence || '未登録' %></p>
            </li>
          </ul>
          <div class="button-group">
            <% if @schedule && current_user == @schedule.user %>
              <div class='d-flex justify-content-end' size="30">
                <%= link_to edit_planner_schedule_path(@planner, @schedule) do %>
                  <i class='bi bi-pencil-fill' width="50" height="50"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>