<div class="devise-container">
  <div class="devise-wrapper">
    <h2 class="devise-title">Log in</h2> 
    <%= form_for(resource, as: resource_name,class:"new_user", url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "ログイン" ,class: "btn btn-secondary btn-block"%>
      </div>
    <% end %>
    <div class="actions" >
      <%= link_to "sign up" , new_registration_path(resource_name), class: "btn btn-secondary btn-block" %>
      <%= link_to "passwordを忘れた人" , new_password_path(resource_name), class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>