<%= render 'admin/shared/content_header', header_title: "ユーザー" %>
<div class="app-content">
  <div class="container-fluid">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            <th>権限</th>
            <th>登録日時</th>
            <th>更新日時</th>
            <th>最終ログイン</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.nickname %></td>
              <td><%= user.role %></td>
              <td><%= user.email %></td>
              <td>
                <%= link_to "編集", edit_admin_user_path(user) %>
                <%= link_to "削除", admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
              </td>
              <td><%= user.created_at.strftime('%Y年%m月%d日') %></td>
              <td><%= user.updated_at.strftime('%Y年%m月%d日') %></td>
              <td><%= user.last_login_at.strftime('%Y年%m月%d日') if user.last_login_at.presence %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>